body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: url('../IMG/chalkbackground.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    animation: backgroundAnimation 20s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 100%;
    }
}

.burger {
    margin-bottom: 20px;
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

    .burger:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }

    .burger h2 {
        margin-top: 0;
        display: flex;
        align-items: center;
    }

        .burger h2 img {
            width: 70px; /* Increased size of burger images */
            margin-right: 10px;
        }

    .burger label {
        font-weight: bold;
        margin-right: 10px;
    }

    .burger select,
    .burger input[type="number"] {
        margin-right: 10px;
        padding: 5px;
        font-size: 16px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }

        .burger select:hover,
        .burger input[type="number"]:hover {
            background-color: #555;
            color: #fff;
        }

.btn {
    margin-right: 10px;
    background-color: #007bff; /* Bluish color */
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

    .btn:hover {
        background-color: #0056b3; /* Darker bluish color */
        transform: scale(1.1);
    }

.btn-secondary {
    background-color: #007bff; /* Bluish color */
    color: #fff;
}

    .btn-secondary:hover {
        background-color: #0056b3; /* Darker bluish color */
    }
